<ng-container *ngIf="currentProject$ | async as project; else noProject">
  <header class="flex align-items-center space-between mb-1">
    <h1 class="m-0 p-0 truncate">
      {{ project.name }}
    </h1>

    <div class="flex">
      <button
        mat-icon-button
        aria-label="Filter tasks"
        title="Search"
        (click)="openSearchDialog()"
      >
        <mat-icon>search</mat-icon>
      </button>
      <!-- Create task -->
      <button
        data-test="viewHeaderCreateTaskButton"
        mat-icon-button
        title="Create task"
        class="is-not-handset"
        (click)="openCreateTaskDialog(project)"
      >
        <mat-icon>add</mat-icon>
      </button>

      <button
        data-test="switchToKanbanViewButton"
        mat-icon-button
        title="Kanban view"
        (click)="handleSwitchView(project)"
      >
        <mat-icon>
          {{ project.view === LIST_VIEW ? "view_kanban" : "view_list" }}
        </mat-icon>
      </button>

      <!-- Change view -->
      <yata-tasks-order-by-options></yata-tasks-order-by-options>

      <!-- More options menu -->
      <button
        mat-icon-button
        [matMenuTriggerFor]="projectOptions"
        title="Project options"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #projectOptions xPosition="before" yPosition="below">
        <button mat-menu-item (click)="openEditProjectDialog(project)">
          <mat-icon>edit</mat-icon>
          <span>Rename Project</span>
        </button>
        <button mat-menu-item (click)="openCreateSectionDialog(project)">
          <mat-icon>add</mat-icon>
          <span>Add Section</span>
        </button>

        <mat-divider></mat-divider>

        <button
          mat-menu-item
          (click)="openDeleteProjectConfirmationDialog(project)"
        >
          <mat-icon>delete</mat-icon>
          <span>Delete Project</span>
        </button>
      </mat-menu>
    </div>
  </header>
</ng-container>

<ng-template #noProject>
  <header class="view-header">
    <div class="pb-1">
      <h1 class="truncate">
        {{ title }}
      </h1>
    </div>

    <yata-tasks-order-by-options class="pb-1"></yata-tasks-order-by-options>
  </header>
</ng-template>
