<ng-container *ngIf="currentProject$ | async as project">
  <header class="view-header">
    <h1 class="truncate">
      {{ project.name }}
    </h1>
    <span class="spacer"></span>
    <ng-container *ngIf="project.view === 'LIST'; else kanban">
      <button
        mat-icon-button
        (click)="switchToKanbanView(project)"
        title="Kanban view"
      >
        <mat-icon>view_kanban</mat-icon>
      </button>
    </ng-container>
    <ng-template #kanban>
      <button
        mat-icon-button
        (click)="switchToListView(project)"
        title="List view"
      >
        <mat-icon>view_list</mat-icon>
      </button>
    </ng-template>

    <!-- Change view -->
    <yata-task-list-sort-options></yata-task-list-sort-options>

    <button
      mat-icon-button
      [matMenuTriggerFor]="projectOptions"
      title="Project options"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #projectOptions xPosition="before" yPosition="below">
      <button mat-menu-item (click)="openEditProjectDialog(project)">
        <mat-icon>edit</mat-icon>
        <span>Rename Project</span>
      </button>
      <button mat-menu-item (click)="openCreateSectionDialog(project)">
        <mat-icon>add</mat-icon>
        <span>Add Section</span>
      </button>
      <!-- <button mat-menu-item>
        <mat-icon>history</mat-icon>
        <span>Show History</span>
      </button> -->
      <mat-divider></mat-divider>
      <button
        mat-menu-item
        (click)="openDeleteProjectConfirmationDialog(project)"
      >
        <mat-icon>delete</mat-icon>
        <span>Delete Project</span>
      </button>
    </mat-menu>
  </header>
</ng-container>
