<ng-container *ngIf="data as subtask" [formGroup]="form">
  <mat-dialog-content>
    <header class="flex flex-row space-between">
      <mat-checkbox
        (change)="handleChecked()"
        formControlName="isCompleted"
        color="primary"
      >
        {{
          isCompletedControl.value ? "Mark as incomplete" : "Mark as complete"
        }}
      </mat-checkbox>
      <div class="flex">
        <button mat-icon-button title="Previous task">
          <mat-icon>expand_less</mat-icon>
        </button>
        <button mat-icon-button title="Next task">
          <mat-icon>expand_more</mat-icon>
        </button>
        <button mat-icon-button title="Task options">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <button mat-icon-button mat-dialog-close title="Close dialog">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </header>

    <mat-divider></mat-divider>

    <!-- Main content -->
    <div class="flex column-gap-1">
      <div class="flex-column row-gap-1 p-1 full-width">
        <h5 aria-labelledby="title">Task</h5>
        <div class="flex-column align-items-center full-width">
          <mat-form-field class="full-width" appearance="outline">
            <input
              id="title"
              matInput
              data-test="titleInput"
              type="text"
              formControlName="title"
            />
          </mat-form-field>
        </div>

        <h5 aria-labelledby="description">Description</h5>
        <div class="flex-column align-items-center full-width">
          <mat-form-field class="full-width" appearance="outline">
            <textarea
              id="description"
              matInput
              formControlName="description"
              cdkTextareaAutosize
            ></textarea>
          </mat-form-field>
        </div>
      </div>

      <mat-divider [vertical]="true"></mat-divider>

      <div class="p-1">
        <div class="flex flex-column row-gap-1">
          <h5 aria-labelledby="projectId">Project</h5>
          <mat-form-field appearance="outline">
            <mat-select
              *ngIf="projects$ | async as projects"
              id="projectId"
              data-test="projectIdSelect"
              formControlName="projectId"
            >
              <mat-option
                *ngFor="let project of projects; trackBy: trackByProjectId"
                [value]="project.id"
              >
                {{ project.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <h5>Due date</h5>
          <div class="due-date-container">
            <ng-container *ngIf="dueDateControl.value; else dueDateIsNull">
              <div class="flex space-between align-items-center">
                <button
                  mat-button
                  (click)="openDateTimePickerDialog()"
                  title="Due date"
                >
                  <ng-container
                    *ngIf="isAllDayControl.value; else renderTimePortion"
                  >
                    {{ dueDateControl.value | date : "mediumDate" }}
                  </ng-container>
                  <ng-template #renderTimePortion>
                    {{ dueDateControl.value | date : "MMM d, y, hh:mm a" }}
                  </ng-template>
                </button>
                <button
                  mat-icon-button
                  title="Remove due date"
                  (click)="removeDueDate()"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </ng-container>
            <ng-template #dueDateIsNull>
              <button
                class="full-width"
                mat-stroked-button
                (click)="openDateTimePickerDialog()"
                title="Set a due date"
              >
                <mat-icon>event</mat-icon>
                <span>Date & Repeat</span>
              </button>
            </ng-template>
          </div>

          <h5>Priority</h5>
          <div class="flex align-items-center">
            <yata-task-priority-picker
              (selectionChange)="handlePriorityChange($event)"
              [value]="priorityControl.value"
            ></yata-task-priority-picker>
            {{ priorityControl.value | taskPriority }}
          </div>

          <mat-divider></mat-divider>

          <div class="flex space-between align-items-center">
            <h5>Tags</h5>
            <button mat-icon-button title="Add tag">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <mat-chip-listbox>
            <mat-chip-option *ngFor="let tag of subtask.tags" color="primary">
              {{ tag.name }}
              <button
                matChipRemove
                [ariaLabel]="'Remove ' + tag.name"
                (click)="removeTag(subtask, tag)"
              >
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-option>
          </mat-chip-listbox>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="handleSave()">
      Save
    </button>
  </mat-dialog-actions>
</ng-container>
