<ul
  class="task-list"
  cdkDropList
  [cdkDropListData]="section"
  (cdkDropListDropped)="handleDropped($event)"
>
  <ng-container *ngFor="let task of tasks">
    <li
      yataClickable
      class="task-list-item"
      [attr.data-task]="task.id"
      cdkDrag
      [cdkDragData]="task"
    >
      <mat-checkbox
        [checked]="task.completed"
        (change)="handleCheckbox($event.checked, task)"
      ></mat-checkbox>
      <div class="task-text">
        <span>
          {{ task.title }}
        </span>
      </div>
    </li>
  </ng-container>
</ul>
