<ul
  class="task-list"
  cdkDropList
  [cdkDropListData]="section"
  (cdkDropListDropped)="handleDropped($event)"
>
  <ng-container *ngFor="let task of tasks">
    <yata-task-list-item
      cdkDrag
      [cdkDragData]="task"
      [task]="task"
    ></yata-task-list-item>
  </ng-container>

  <ng-container *ngIf="currentSection$ | async as currentSection">
    <ng-container *ngIf="currentSection.id === section?.id">
      <yata-create-section-task-list-item
        [section]="currentSection"
      ></yata-create-section-task-list-item>
    </ng-container>
  </ng-container>
</ul>
