<details open>
  <summary class="clickable" (click)="toggleExpanded()">
    <div class="summary-content">
      <!-- Section name -->
      <span>
        {{ section.name }}&nbsp;
        <span class="badge-task-count">({{ section.tasks?.length }})</span>
      </span>

      <!-- Actions -->
      <div class="section-actions" *ngIf="section.id">
        <yata-section-options-menu
          [direction]="'horizontal'"
          [section]="section"
        ></yata-section-options-menu>
      </div>

      <span class="spacer"></span>

      <!-- Toggle section visibility -->
      <ng-container *ngIf="expanded; else notExpanded">
        <button mat-icon-button [disabled]="true">
          <mat-icon>expand_less</mat-icon>
        </button>
      </ng-container>
      <ng-template #notExpanded>
        <button mat-icon-button [disabled]="true">
          <mat-icon>expand_more</mat-icon>
        </button>
      </ng-template>
    </div>
  </summary>

  <yata-task-list
    #list
    cdkDropList
    [cdkDropListData]="section"
    (cdkDropListDropped)="list.handleDropped($event)"
  >
    <ng-container *ngFor="let task of section.tasks">
      <yata-task cdkDrag [cdkDragData]="task" [task]="task">
        <yata-task-options-menu [task]="task"></yata-task-options-menu>
      </yata-task>
    </ng-container>
  </yata-task-list>
</details>
