details {
  padding: 8px;
  margin-bottom: 16px;
}

summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-radius: 6px;
}

.summary-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.section-actions {
  display: flex;
  margin-left: 8px;
  visibility: hidden;

  button {
    transform: scale(0.75);
    opacity: 0.54;
  }
}

summary:hover .section-actions {
  visibility: visible;
}

.badge-task-count {
  font-size: 0.9em;
  opacity: 0.75;
}

.create-task-component-container {
  display: flex;
  padding: 8px 16px;

  .cancel-button {
    flex: 1;
    height: inherit;
    margin-bottom: 22px;
  }
}

@media screen and (min-width: 600px) {
  .create-task-component-container {
    padding: 8px 32px;
  }
}
