<h2 mat-dialog-title>Create Tag</h2>
<mat-dialog-content>
  <div class="dialog-content" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Tag</mat-label>
      <input
        #tagInput
        data-test="createTagDialogNameInput"
        type="text"
        matInput
        placeholder="name"
        formControlName="name"
        (keydown.enter)="handleCreate()"
      />
    </mat-form-field>

    <div class="flex align-items-center column-gap-1">
      <label for="tagColor">Color</label>
      <input
        data-test="createTagDialogColorInput"
        id="tagColor"
        type="color"
        formControlName="colorHexCode"
      />
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    data-test="createTagDialogCancelButton"
    mat-stroked-button
    mat-dialog-close
    [mat-dialog-close]="false"
  >
    Cancel
  </button>
  <button
    data-test="createTagDialogSubmitButton"
    mat-raised-button
    color="primary"
    (click)="handleCreate()"
  >
    Create
  </button>
</mat-dialog-actions>
