details {
  padding: 8px;
  margin-bottom: 16px;
}

summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-radius: 6px;
}

.badge-task-count {
  font-size: 0.9em;
  opacity: 0.75;
}
