@use "../../../../scss/colors" as colors;

mat-icon {
  opacity: 0.87 !important;
}

.high-priority {
  color: colors.$mat-red-700;
}

.medium-priority {
  color: colors.$mat-yellow-700;
}

.low-priority {
  color: colors.$mat-blue-700;
}

.no-priority {
  color: inherit;
}
