ul {
  margin: 0;
  padding: 0;

  li {
    padding: 4px 8px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .task-info {
      font-size: 12px;
      opacity: 0.87;
    }
  }
}
