.tlist-container {
  position: relative;
  height: 100%;

  ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto;

    li {
      padding: 4px 8px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .task-info {
        font-size: 12px;
        opacity: 0.87;
      }
    }
  }
}
