<ng-container *ngIf="currentProject$ | async as project">
  <div class="kanban-wrapper">
    <div class="full-height relative p-1">
      <yata-view-header></yata-view-header>
      <main>
        <div class="kanban-view">
          <div
            class="columns full-height"
            cdkDropListGroup
            *ngIf="columns$ | async as map"
          >
            <ng-container *ngFor="let entry of map | keyvalue">
              <yata-kanban-column
                *ngIf="entry.key.id"
                [section]="entry.key"
                [tasks]="entry.value"
              ></yata-kanban-column>
            </ng-container>

            <!-- Create column -->
            <div class="column-last-child">
              <ng-container
                *ngIf="
                  showAddKanbanColumnComponent;
                  else hideAddKanbanColumnComponent
                "
              >
                <yata-create-kanban-column
                  (close)="handleAddKanbanColumnComponentClosed()"
                ></yata-create-kanban-column>
              </ng-container>
              <ng-template #hideAddKanbanColumnComponent>
                <button
                  id="addColumnBtn"
                  data-test="addColumnButton"
                  mat-raised-button
                  color="primary"
                  (click)="handleAddColumn()"
                >
                  <mat-icon>add</mat-icon>
                  <span>Add column</span>
                </button>
              </ng-template>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</ng-container>
<router-outlet></router-outlet>
