<li class="task-list-item" [attr.data-task]="task.id" [formGroup]="form">
  <span class="drag-indicator">
    <mat-icon>drag_indicator</mat-icon>
  </span>
  <mat-checkbox
    [checked]="task.completed"
    (change)="handleChecked($event.checked, task)"
  ></mat-checkbox>
  <input type="text" class="input" formControlName="title" (blur)="update()" />
  <div class="actions">
    <yata-task-priority-picker
      [value]="priorityControl.value"
      (selectionChange)="handlePriorityChange($event)"
    ></yata-task-priority-picker>
    <yata-task-options-menu [task]="task"></yata-task-options-menu>
  </div>
</li>
