@use "../../../../scss/colors" as colors;

.task {
  display: flex;
  align-items: center;
  column-gap: 16px;

  .input {
    margin-top: 2px;
  }

  .drag-indicator {
    transform: scale(0.75);
    visibility: hidden;

    &:hover {
      cursor: grab;
    }
  }

  &:hover {
    .drag-indicator {
      visibility: visible;
    }
  }
}
