<yata-view-header></yata-view-header>
<main>
  <div class="create-task-container">
    <yata-create-task></yata-create-task>
  </div>

  <div class="sections-wrapper" cdkDropListGroup>
    <!-- Unsectioned tasks -->
    <ng-container *ngIf="unsectionedTasks$ | async as unsectionedTasks">
      <ng-container *ngIf="unsectionedTasks.length">
        <yata-task-list [tasks]="unsectionedTasks"></yata-task-list>
      </ng-container>
    </ng-container>

    <div *ngIf="sections$ | async as sections">
      <!-- Project sections -->
      <ng-container *ngFor="let section of sections">
        <yata-project-section [section]="section"></yata-project-section>
      </ng-container>

      <!-- Completed sections -->
      <ng-container *ngIf="completedTasks$ | async as completedTasks">
        <ng-container *ngIf="completedTasks && completedTasks.length > 0">
          <yata-project-section
            [section]="createCompletedSection(completedTasks)"
          ></yata-project-section>
        </ng-container>
      </ng-container>
    </div>
  </div>
</main>
