<yata-view-header></yata-view-header>
<main>
  <div class="create-task-container">
    <yata-create-task></yata-create-task>
  </div>

  <div class="sections-wrapper" *ngIf="groupedTasks$ | async as groupedTasks">
    <div cdkDropListGroup>
      <yata-section
        *ngFor="let map of groupedTasks | keyvalue"
        [name]="map.key.name"
        [itemsCount]="map.value.length"
      >
        <yata-task-list
          #list
          cdkDropList
          (cdkDropListDropped)="list.handleDropped($event)"
        >
          <ng-container *ngFor="let task of map.value">
            <yata-task cdkDrag [task]="task" [cdkDragData]="task">
              <yata-task-options-menu [task]="task"></yata-task-options-menu>
            </yata-task>
          </ng-container>
        </yata-task-list>
      </yata-section>
    </div>

    <ng-container *ngIf="completedTasks$ | async as completedTasks">
      <yata-section
        *ngIf="completedTasks.length"
        [name]="'Completed'"
        [itemsCount]="completedTasks.length"
      >
        <yata-task-list #list cdkDropList>
          <ng-container *ngFor="let task of completedTasks">
            <yata-task [task]="task" [isDraggable]="false">
              <yata-task-options-menu [task]="task"></yata-task-options-menu>
            </yata-task>
          </ng-container>
        </yata-task-list>
      </yata-section>
    </ng-container>
  </div>
</main>
