<header class="flex space-between align-items-center">
  <h1>Eisenhower Matrix</h1>
  <button
    mat-icon-button
    aria-label="Filter tasks"
    title="Search"
    (click)="openSearchDialog()"
  >
    <mat-icon>search</mat-icon>
  </button>
</header>
<main
  class="matrix-container row-gap-1 full-height"
  cdkDropListGroup
  *ngIf="tasksGroupedByPriority$ | async as grouped"
>
  <yata-matrix-quadrant
    *ngIf="highPriorityGroup$ | async as group"
    [groupedTasks]="group"
    [completedTasks]="(highPriorityCompletedTasks$ | async) ?? []"
    [priority]="HIGH_PRIORITY"
    class="quadrant"
  ></yata-matrix-quadrant>

  <yata-matrix-quadrant
    *ngIf="mediumPriorityGroup$ | async as group"
    [groupedTasks]="group"
    [completedTasks]="(mediumPriorityCompletedTasks$ | async) ?? []"
    [priority]="MEDIUM_PRIORITY"
    class="quadrant"
  ></yata-matrix-quadrant>

  <yata-matrix-quadrant
    *ngIf="lowPriorityGroup$ | async as group"
    [groupedTasks]="group"
    [completedTasks]="(lowPriorityCompletedTasks$ | async) ?? []"
    [priority]="LOW_PRIORITY"
    class="quadrant"
  ></yata-matrix-quadrant>

  <yata-matrix-quadrant
    *ngIf="noPriorityGroup$ | async as group"
    [groupedTasks]="group"
    [completedTasks]="(noPriorityCompletedTasks$ | async) ?? []"
    [priority]="NO_PRIORITY"
    class="quadrant"
  ></yata-matrix-quadrant>
</main>
<router-outlet></router-outlet>
