<mat-card class="quadrant">
  <div class="quadrant-header">
    <h5 [ngClass]="textColorClassName">
      {{ headerText }}
    </h5>

    <div class="quadrant-header-actions">
      <button mat-icon-button (click)="openCreateTaskDialog()">
        <mat-icon>add</mat-icon>
      </button>
      <button
        mat-icon-button
        [matMenuTriggerFor]="quadrantOptions"
        title="Quadrant options"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #quadrantOptions>
        <button mat-menu-item (click)="showCompleted = !showCompleted">
          {{ showCompleted ? "Hide" : "Show" }} completed
        </button>
      </mat-menu>
    </div>
  </div>

  <!-- Content -->
  <div class="full-height p-1 relative">
    <div class="quadrant-content">
      <ng-container *ngFor="let entry of groupedTasks | keyvalue">
        <yata-section
          *ngIf="entry.value.length"
          [name]="entry.key.name"
          [itemsCount]="entry.value.length"
        >
          <yata-task-list
            cdkDropList
            (cdkDropListDropped)="handleTaskDropped($event)"
            [cdkDropListData]="{ projectId: entry.key.id!, priority: priority }"
          >
            <yata-task
              *ngFor="let task of entry.value; trackBy: trackByTaskid"
              cdkDrag
              [cdkDragData]="task"
              [task]="task"
            >
              <span class="task-info">{{ task.dueDate | date }}</span>
              <yata-task-options [task]="task"></yata-task-options>
            </yata-task>
          </yata-task-list>
        </yata-section>
      </ng-container>

      <ng-container *ngIf="showCompleted && completedTasks.length">
        <yata-section [name]="'Completed'" [itemsCount]="completedTasks.length">
          <yata-task-list>
            <yata-task *ngFor="let task of completedTasks" [task]="task">
              <yata-task-options [task]="task"></yata-task-options>
            </yata-task>
          </yata-task-list>
        </yata-section>
      </ng-container>
    </div>
  </div>
</mat-card>
