@use "../../../../scss/colors" as colors;

.quadrant {
  height: 100%;
  width: 100%;

  .quadrant-header {
    display: flex;
    column-gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 0 16px;
    
    .quadrant-header-actions {
      button {
        transform: scale(0.75);
      }
    }
  }

  .quadrant-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    padding: 1em;
  }
}

.high-priority {
  color: colors.$mat-red-A100;
}

.medium-priority {
  color: colors.$mat-orange-A100;
}

.low-priority {
  color: colors.$mat-blue-A100;
}

.no-priority {
  color: colors.$mat-cyan-A100;
}

@media (prefers-color-scheme: light) {
  .high-priority {
    color: colors.$mat-red-700 !important;
  }

  .medium-priority {
    color: colors.$mat-orange-700 !important;
  }

  .low-priority {
    color: colors.$mat-blue-700 !important;
  }

  .no-priority {
    color: colors.$mat-cyan-700 !important;
  }
}
