<ng-container *ngIf="currentProjectId$ | async as projectId">
  <div class="create-task-wrapper">
    <div class="create-task" [formGroup]="form">
      <mat-form-field class="form-field" appearance="outline" [hideRequiredMarker]="true">
        <mat-label>New Task</mat-label>
        <input matInput type="text" formControlName="title" placeholder="Press Enter to save"
          (keyup.enter)="handleSave(projectId)" />
      </mat-form-field>
      <div class="create-task-actions">
        <!-- Section picker -->
        <yata-section-picker (selected)="handleSelectedSection($event)"></yata-section-picker>

        <!-- Due date picker -->
        <button mat-icon-button title="Set the due date" (click)="openDateTimePicker()">
          <mat-icon>event</mat-icon>
        </button>
        <!-- Priority picker -->
        <yata-task-priority-picker></yata-task-priority-picker>
      </div>
    </div>
    <div class="chip-list-container">
      <mat-chip-listbox>
        <mat-chip *ngIf="section">
          Section: {{ section.name }}
          <button matChipRemove (click)="removeSection()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-chip>
        <mat-chip *ngIf="dueDateControl.value">
          {{ dueDateControl.value | date : "mediumDate" }}
          <button matChipRemove (click)="removeDueDate()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-listbox>
      <!-- Tags -->
      <mat-chip-listbox aria-label="Tags">
        <mat-chip *ngFor="let tag of selectedTags" color="primary">
          {{ tag.name }}
          <button matChipRemove (click)="removeTag(tag)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-listbox>
    </div>
  </div>
</ng-container>
