<article *ngIf="completedTasks$ | async as completedTasks" class="column">
  <div class="flex align-items-center space-between mb-1">
    <div class="flex align-items-center column-gap-1 text-overflow">
      <h3>{{ section.name }}</h3>
      <p class="badge-task-count">({{ tasks.length }})</p>
    </div>
    <div class="flex">
      <button
        mat-icon-button
        title="Add task"
        [attr.aria-label]="'Add task to ' + section.name"
        (click)="openCreateTaskDialog()"
      >
        <mat-icon>add</mat-icon>
      </button>
      <yata-section-options
        [section]="section"
        [direction]="'vertical'"
      ></yata-section-options>
    </div>
  </div>

  <div class="flex-column">
    <ul
      #taskList
      class="flex-column row-gap-1 p-0 m-0"
      cdkDropList
      cdkDropListSortingDisabled
      [cdkDropListData]="section"
      (cdkDropListDropped)="handleTaskCardDrop($event)"
    >
      <li *ngFor="let task of tasks; trackBy: trackByTaskId">
        <yata-task-card
          [task]="task"
          cdkDrag
          [cdkDragData]="task"
        ></yata-task-card>
      </li>
    </ul>
  </div>

  <!-- Completed tasks -->
  <mat-expansion-panel
    *ngIf="completedTasks && completedTasks.length"
    class="mt-1"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4>Completed</h4>
        &nbsp;
        <span class="text-grey">({{ completedTasks.length }})</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="flex-column row-gap-1 p-0 m-0">
      <li *ngFor="let task of completedTasks; trackBy: trackByTaskId">
        <yata-task-card [task]="task"></yata-task-card>
      </li>
    </ul>
  </mat-expansion-panel>
</article>
