.column {
  border-radius: 6px;
  border: thin solid rgba(255, 255, 255, 0.25);
  padding: 8px 16px 32px;
  min-width: 350px;
  max-height: 95%;
  overflow: auto;
}

.mat-expansion-panel {
  background-color: inherit !important;
  box-shadow: none !important;
}

ul {
  list-style: none;
}

.light-theme {
  border-color: rgba(0, 0, 0, 0.25);

  .completed-tasks {
    details {
      summary {
        &:hover {
          background-color: rgba(0, 0, 0, 0.04) !important;
        }
      }
    }
  }
}
