.column {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 8px 16px 32px;
  min-width: 350px;
  max-height: 95%;
  overflow: auto;

  .column-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    .section-name-container {
      display: flex;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
      column-gap: 16px;
    }

    .section-name {
      font-size: 24px;
      margin-right: 8px;
    }
  }

  .tasks-container {
    display: flex;
    flex-direction: column;
  }

  .completed-tasks {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    details {
      summary {
        padding: 8px 4px;
        border-radius: 6px;

        &:hover {
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.04);
        }
      }
    }

    .task-list {
      margin-top: 8px;
    }
  }
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  min-height: 72px; // provides enough room for a card to be dropped into a empty list
}


.light-theme {
  .column {
    border-color: rgba(0, 0, 0, 0.25);
  }
  
  .completed-tasks {
    details {
      summary {
        &:hover {
          background-color: rgba(0, 0, 0, 0.04) !important;
        }
      }
    }
  }
}