.column {
  border: thin solid;
  border-radius: 6px;
  padding: 8px 16px 32px;
  min-width: 350px;
  height: fit-content;

  .column-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
}

.tasks-container {
  display: flex;
  flex-direction: column;

  .task-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    min-height: 72px; // provides enough room for a card to be dropped into a empty list
  }
}
