<article *ngIf="section" class="column">
  <div class="column-header">
    <div class="section-name-container">
      <h5 class="section-name">
        {{ section.name }}
      </h5>
      <p
        class="badge-task-count"
        *ngIf="completedTasks && completedTasks.length"
      >
        {{ completedTasks.length }}
      </p>
    </div>
    <div class="flex">
      <button mat-icon-button title="Add task" (click)="openCreateTaskDialog()">
        <mat-icon>add</mat-icon>
      </button>
      <yata-section-options
        [section]="section"
        [direction]="'vertical'"
      ></yata-section-options>
    </div>
  </div>

  <div class="tasks-container">
    <ul
      #taskList
      class="task-list"
      cdkDropList
      [cdkDropListData]="section"
      (cdkDropListDropped)="handleTaskCardDrop($event)"
    >
      <ng-container *ngFor="let task of pendingTasks; trackBy: trackByTaskId">
        <li>
          <yata-task-card
            [task]="task"
            cdkDrag
            [cdkDragData]="task"
          ></yata-task-card>
        </li>
      </ng-container>
    </ul>
  </div>

  <div class="completed-tasks" *ngIf="completedTasks && completedTasks.length">
    <yata-section [name]="'Completed'" [itemsCount]="completedTasks.length">
      <ul class="task-list">
        <li *ngFor="let task of completedTasks; trackBy: trackByTaskId">
          <yata-task-card [task]="task"></yata-task-card>
        </li>
      </ul>
    </yata-section>
  </div>
</article>
