<article *ngIf="section" class="column">
  <div class="column-header">
    <h2>{{ section.name }}</h2>
    <yata-section-options-menu
      [section]="section"
      [direction]="'vertical'"
    ></yata-section-options-menu>
  </div>
  <div class="tasks-container">
    <div class="create-task-container">
      <yata-create-task [section]="section"></yata-create-task>
    </div>
    <ul
      #taskList
      class="task-list"
      cdkDropList
      [cdkDropListData]="section"
      (cdkDropListDropped)="handleTaskCardDrop($event)"
    >
      <ng-container *ngFor="let task of section.tasks; trackBy: trackByTaskId">
        <li>
          <yata-task-card
            [task]="task"
            cdkDrag
            [cdkDragData]="task"
          ></yata-task-card>
        </li>
      </ng-container>
    </ul>
  </div>
</article>
