<div class="create-task-wrapper">
  <div class="create-task" [formGroup]="form">
    <mat-form-field
      class="form-field"
      appearance="outline"
      [hideRequiredMarker]="true"
    >
      <mat-label>New Task</mat-label>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Press Enter to save"
        (keyup.enter)="handleSave()"
      />
    </mat-form-field>
    <div class="create-task-actions">
      <!-- Due date picker -->
      <button
        mat-icon-button
        title="Set the due date"
        (click)="openDateTimePicker()"
        [class.value-indicator]="dueDateControl.value"
      >
        <mat-icon>event</mat-icon>
      </button>
      <!-- Priority picker -->
      <yata-task-priority-picker
        (selectionChange)="handlePriorityChange($event)"
      ></yata-task-priority-picker>
    </div>
  </div>
</div>
