<div class="subtask-list-item" [formGroup]="form">
  <div class="subtask-list-item-actions">
    <mat-checkbox
      color="primary"
      formControlName="completed"
      (change)="handleToggleCompletionStatus()"
    ></mat-checkbox>
  </div>
  <mat-form-field class="full-width">
    <mat-label>Title</mat-label>
    <input
      matInput
      type="text"
      formControlName="title"
      placeholder="Press Enter to save"
      (keyup.enter)="handleSave()"
    />
  </mat-form-field>

  <div class="subtask-list-item-actions">
    <button mat-icon-button (click)="handleDelete()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
