<div class="subtask-list-item" [formGroup]="form">
  <mat-checkbox
    color="primary"
    formControlName="completed"
    (change)="handleToggleCompletionStatus()"
  ></mat-checkbox>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input
      matInput
      type="text"
      formControlName="title"
      placeholder="Press Enter to save"
      (keyup.enter)="handleSave()"
    />
  </mat-form-field>
  <span class="spacer"></span>
  <div class="actions">
    <button mat-icon-button (click)="handleDelete()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
