<div class="wrapper">
  <mat-toolbar role="navigation">
    <mat-toolbar-row>
      <a mat-button routerLink="app" class="mr-1"> Dashboard </a>
      <span class="spacer"></span>
      <a mat-button routerLink="app" class="mr-1"> Sign in </a>
      <a mat-raised-button color="primary" routerLink="app">
        Sign up
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

  <main class="content">
    <h1 class="text-centered">Welcome to YATA</h1>
    <section>
      <p>
        Welcome to the demo. All data is mock data and will be lost when the
        page is refreshed.
      </p>
    </section>
  </main>
</div>
