<main
  class="matrix-container row-gap-1"
  cdkDropListGroup
  *ngIf="tasksGroupedByPriority$ | async as grouped"
>
  <!-- <ng-container *ngIf="highPriorityTasks$ | async as tasks">
    <yata-matrix-quadrant [tasks]="tasks" [priority]="HIGH_PRIORITY"></yata-matrix-quadrant>
  </ng-container>

  <ng-container *ngIf="mediumPriorityTasks$ | async as tasks">
    <yata-matrix-quadrant [tasks]="tasks" [priority]="MEDIUM_PRIORITY"></yata-matrix-quadrant>
  </ng-container>

  <ng-container *ngIf="lowPriorityTasks$ | async as tasks">
    <yata-matrix-quadrant [tasks]="tasks" [priority]="LOW_PRIORITY"></yata-matrix-quadrant>
  </ng-container>

  <ng-container *ngIf="noPriorityTasks$ | async as tasks">
    <yata-matrix-quadrant [tasks]="tasks" [priority]="NO_PRIORITY"></yata-matrix-quadrant>
  </ng-container> -->

  <yata-matrix-quadrant
    [tasks]="grouped.get(HIGH_PRIORITY) || []"
    [priority]="HIGH_PRIORITY"
  ></yata-matrix-quadrant>
  <yata-matrix-quadrant
    [tasks]="grouped.get(MEDIUM_PRIORITY) || []"
    [priority]="MEDIUM_PRIORITY"
  ></yata-matrix-quadrant>
  <yata-matrix-quadrant
    [tasks]="grouped.get(LOW_PRIORITY) || []"
    [priority]="LOW_PRIORITY"
  ></yata-matrix-quadrant>
  <yata-matrix-quadrant
    [tasks]="grouped.get(NO_PRIORITY) || []"
    [priority]="NO_PRIORITY"
  ></yata-matrix-quadrant>
</main>
