<ng-container [formGroup]="form">
  <h2 mat-dialog-title>Create Project</h2>
  <mat-dialog-content>
    <div class="create-project-dialog-container">
      <mat-form-field appearance="outline">
        <mat-label>Project Name</mat-label>
        <input
          data-test="newProjectName"
          #input
          matInput
          type="text"
          formControlName="name"
          placeholder="Press Enter to save"
          (keyup.enter)="handleSave()"
        />
        <mat-hint>{{ input.value.length }} / {{ nameMaxLength }}</mat-hint>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close="">Cancel</button>
    <button
      data-test="submit"
      mat-raised-button
      color="primary"
      (click)="handleSave()"
      [disabled]="nameControl.invalid"
    >
      Save
    </button>
  </mat-dialog-actions>
</ng-container>
