<mat-card class="quadrant">
  <div class="quadrant-header">
    <h5 [ngClass]="textColorClassName">
      {{ headerText }}
    </h5>

    <div class="quadrant-header-actions">
      <button mat-icon-button (click)="openCreateTaskDialog()">
        <mat-icon>add</mat-icon>
      </button>
      <button
        mat-icon-button
        [matMenuTriggerFor]="quadrantOptions"
        title="Quadrant options"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #quadrantOptions>
        <button mat-menu-item (click)="showCompleted = !showCompleted">
          {{ showCompleted ? "Hide" : "Show" }} completed
        </button>
      </mat-menu>
    </div>
  </div>

  <!-- Content -->
  <div class="full-height p-1 relative">
    <div class="quadrant-content">
      <ng-container *ngFor="let entry of groupedTasks | keyvalue">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>{{ entry.key.name }}</h3>
              &nbsp;
              <span class="text-grey">({{ entry.value.length }})</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <yata-task-list
            cdkDropList
            cdkDropListSortingDisabled
            (cdkDropListDropped)="handleTaskDropped($event)"
            [cdkDropListData]="{ projectId: entry.key.id!, priority: priority }"
          >
            <ng-container
              *ngFor="let task of entry.value; trackBy: trackByTaskId"
            >
              <yata-task cdkDrag [cdkDragData]="task" [task]="task">
                <yata-task-options [task]="task"></yata-task-options>
              </yata-task>
            </ng-container>
          </yata-task-list>
        </mat-expansion-panel>

        <mat-divider></mat-divider>
      </ng-container>

      <ng-container *ngIf="showCompleted && completedTasks.length > 0">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Completed</h3>
              &nbsp;
              <span class="text-grey">({{ completedTasks.length }})</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <yata-task-list>
            <yata-task *ngFor="let task of completedTasks" [task]="task">
              <yata-task-options [task]="task"></yata-task-options>
            </yata-task>
          </yata-task-list>
        </mat-expansion-panel>
      </ng-container>
    </div>
  </div>
</mat-card>
