<div class="p1">
  <header *ngIf="currentTag$ | async as tag">
    <h1>#{{ tag.name }}</h1>
  </header>
  <main *ngIf="groupedTasks$ | async as map" class="flex-column row-gap-1 mt-1">
    <mat-expansion-panel *ngFor="let entry of map | keyvalue" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>{{ entry.key.name }}</span>
          &nbsp;
          <span>({{ entry.value.length }})</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngFor="let task of entry.value">
        <yata-task-list>
          <yata-task [isDraggable]="false" [task]="task">
            <yata-task-options [task]="task"></yata-task-options>
          </yata-task>
        </yata-task-list>
      </ng-container>
    </mat-expansion-panel>
  </main>
</div>
<router-outlet></router-outlet>
