<div class="p1">
  <header *ngIf="currentTag$ | async as tag">
    <h1>#{{ tag.name }}</h1>
  </header>
  <main>
    <div *ngIf="sections$ | async as sections">
      <yata-section *ngFor="let section of sections" [name]="section.name" [itemsCount]="section.tasks?.length">
        <ng-container *ngFor="let task of section.tasks">
          <yata-task-list>
            <yata-task [isDraggable]="false" [task]="task">
              <yata-task-options-menu [task]="task"></yata-task-options-menu>
            </yata-task>
          </yata-task-list>
        </ng-container>
      </yata-section>
    </div>
  </main>
</div>
