<form [formGroup]="form">
  <div class="flex align-items-center">
    <label for="searchTaskQuery" class="invisible">Search query</label>
    <input
      #searchInput
      matInput
      formControlName="query"
      data-test="searchTaskInput"
      id="searchTaskQuery"
      placeholder="Search (/)"
      class="input search-input"
      [matAutocomplete]="auto"
      (blur)="handleBlur()"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="handleSelectedOption($event.option.value)"
    >
      <mat-option *ngFor="let task of resultSet$ | async" [value]="task.id">
        {{ task.title }}
      </mat-option>
    </mat-autocomplete>
  </div>
</form>
