$border-color-dark-theme: rgba(255, 255, 255, 0.6);
$border-color-light-theme: rgba(0, 0, 0, 0.6);

label {
  width: 1px;
}

.search-bar-shortcut,
.search-input {
  border: thin solid $border-color-dark-theme;
}

.search-input {
  border-radius: 6px;
}

.search-bar-shortcut {
  position: absolute;
  top: 4px;
  right: 8px;
  bottom: 4px;
  font-size: 1.2rem;
  line-height: 1.75rem;
  padding: 0 0.8rem;
  pointer-events: none;
  text-align: center;
  border-radius: 4px;
}

@media (prefers-color-scheme: light) {
  .search-bar-shortcut,
  .search-input {
    border-color: $border-color-light-theme;
  }
}
