<form [formGroup]="form" class="full-width">
  <mat-form-field appearance="outline" class="full-width">
    <input
      #input
      matInput
      placeholder="Search (/)"
      formControlName="query"
      autocomplete="off"
      [matAutocomplete]="auto"
    />
    <button
      *ngIf="input.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      title="Clear"
      (click)="input.value = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="handleSelectedOption($event.option.value)"
    >
      <mat-option
        *ngFor="let task of resultSet$ | async; trackBy: trackByTaskId"
        [attr.data-test]="'task-id=' + task.id"
        [value]="task.id"
        tabindex="1"
      >
        {{ task.title }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
