<h1 class="p1">Today</h1>
<mat-divider></mat-divider>
<main class="flex-column row-gap-1 mt-1">
  <mat-expansion-panel *ngIf="tasks$ | async as tasks" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>{{ today | date : "fullDate" }}</span>
        &nbsp;
        <span>({{ tasks.length }})</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <yata-task-list>
      <yata-task *ngFor="let task of tasks" [task]="task" [isDraggable]="false">
        <yata-task-options [task]="task"></yata-task-options>
      </yata-task>
    </yata-task-list>
  </mat-expansion-panel>
</main>
<router-outlet></router-outlet>
