<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav relative"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="relative full-height">
      <div class="sidenav-lists">
        <mat-nav-list>
          <a mat-list-item routerLink="/app/chrono/today">
            <div class="flex align-items-center">
              <mat-icon>today</mat-icon>&nbsp;
              <span>Today</span>
            </div>
          </a>
          <a mat-list-item routerLink="/app/chrono/upcoming">
            <div class="flex align-items-center">
              <mat-icon>date_range</mat-icon>&nbsp;
              <span>Next 7 Days</span>
            </div>
          </a>
        </mat-nav-list>

        <mat-divider></mat-divider>

        <mat-nav-list>
          <a mat-list-item routerLink="/app/matrix">
            <div class="flex align-items-center">
              <mat-icon>grid_view</mat-icon>&nbsp;
              <span>Eisenhower Matrix</span>
            </div>
          </a>
        </mat-nav-list>

        <mat-divider></mat-divider>

        <section>
          <details open class="collapsible-list">
            <summary class="clickable">
              <span> Projects </span>
              <button
                id="createProjectButton"
                mat-icon-button
                (click)="openCreateProjectDialog()"
                title="Create project"
              >
                <mat-icon>add</mat-icon>
              </button>
            </summary>
            <ng-container *ngIf="projects$ | async as projects">
              <ul class="sidenav-list">
                <ng-container
                  *ngFor="let project of projects; trackBy: trackByProjectId"
                >
                  <li class="clickable">
                    <ng-container
                      *ngIf="project.view === LIST_VIEW; else kanban"
                    >
                      <a
                        class="sidenav-link flex align-items-center"
                        [routerLink]="['/app/list', project.id]"
                      >
                        <mat-icon>view_list</mat-icon>&nbsp;
                        <span>{{ project.name }}</span>
                      </a>
                    </ng-container>
                    <ng-template #kanban>
                      <a
                        class="sidenav-link flex align-items-center"
                        [routerLink]="['/app/kanban', project.id]"
                      >
                        <mat-icon>view_kanban</mat-icon>&nbsp;
                        <span>{{ project.name }}</span>
                      </a>
                    </ng-template>
                    <button
                      class="action-button"
                      mat-icon-button
                      [matMenuTriggerFor]="tagOptions"
                    >
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #tagOptions="matMenu">
                      <button mat-menu-item>Edit</button>
                      <button mat-menu-item>Delete</button>
                    </mat-menu>
                  </li>
                </ng-container>
              </ul>
            </ng-container>
          </details>
        </section>

        <mat-divider></mat-divider>

        <section>
          <details open class="collapsible-list">
            <summary class="clickable">
              <span>Tags</span>
              <button
                id="createTagButton"
                mat-icon-button
                title="Create tag"
                (click)="openCreateTagDialog()"
              >
                <mat-icon>add</mat-icon>
              </button>
            </summary>
            <ng-container *ngIf="tags$ | async as tags">
              <ul id="sidenavTagsList" class="sidenav-list">
                <ng-container *ngFor="let tag of tags; trackBy: trackByTagId">
                  <li class="clickable" [attr.data-sidenav-tag-id]="tag.id">
                    <a
                      class="sidenav-link flex align-items-center"
                      [routerLink]="['/app/tags', tag.id, 'tasks']"
                    >
                      <mat-icon [style.color]="tag.colorHexCode">label</mat-icon
                      >&nbsp;
                      <span>{{ tag.name }}</span>
                    </a>
                    <button
                      class="action-button"
                      mat-icon-button
                      [matMenuTriggerFor]="tagOptions"
                    >
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #tagOptions="matMenu">
                      <button mat-menu-item (click)="openEditTagDialog(tag)">
                        Edit
                      </button>
                      <button
                        mat-menu-item
                        (click)="openDeleteTagConfirmationDialog(tag)"
                      >
                        Delete
                      </button>
                    </mat-menu>
                  </li>
                </ng-container>
              </ul>
            </ng-container>
          </details>
        </section>

        <mat-divider></mat-divider>
      </div>

      <div *ngIf="user$ | async as user" class="bottom-bar clickable" matRipple>
        <mat-nav-list>
          <div
            id="logout"
            mat-list-item
            class="flex align-items-center space-between"
            (click)="logout()"
          >
            <p class="text-overflow">
              {{ user.email }}
            </p>
            <mat-icon>logout</mat-icon>
          </div>
        </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="relative">
    <mat-toolbar color="primary" [class.hide]="(isHandset$ | async) === false">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
