<mat-sidenav-container class="full-height">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <yata-sidenav (closeSidenav)="drawer.close()"></yata-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="relative">
    <yata-navbar
      *ngIf="isHandset$ | async"
      (toggleSidenav)="drawer.toggle()"
    ></yata-navbar>
    <div class="relative p-1 full-height">
      <router-outlet></router-outlet>
    </div>

    <yata-create-task-fab-button
      *ngIf="isHandset$ | async"
    ></yata-create-task-fab-button>
  </mat-sidenav-content>
</mat-sidenav-container>
