<mat-sidenav-container class="full-height">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <yata-sidenav (closeSidenav)="drawer.close()"></yata-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="relative">
    <mat-toolbar [class.hide]="(isHandset$ | async) === false">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <ng-container *ngIf="isHandset$ | async">
      </ng-container> -->
    </mat-toolbar>
    <div class="relative p-1">
      <router-outlet></router-outlet>
    </div>

    <yata-create-task-fab-button
      *ngIf="isHandset$ | async"
    ></yata-create-task-fab-button>
  </mat-sidenav-content>
</mat-sidenav-container>
