.bottom-bar {
  height: 48px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2px;
  padding: 4px 8px 4px 16px;
}

.sidenav-lists {
  height: 100%;
  overflow-y: auto;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 225px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

details.collapsible-list {
  cursor: pointer;

  summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;

    .marker {
      transform: scale(0.5);
    }

    button {
      transform: scale(0.75);
    }
  }
}

.sidenav-list {
  padding: 0;
  margin: 4px 0;
  min-height: 48px;

  li {
    height: 48px;
    padding-left: 24px;
    display: flex;
    align-items: center;
  }
}
