.task-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 0 8px;
  min-height: 48px;
  
}

@media only screen and (min-width: 600px) {
  .task-list {
    padding: 0 16px;
  }
}
