<ng-container *ngIf="task" [formGroup]="form">
  <mat-card
    [attr.data-test]="'task-' + task.id"
    matRipple
    [ngClass]="borderColor"
    class="clickable"
  >
    <mat-card-content class="task flex-column">
      <div class="flex column-gap-1 align-items-center">
        <mat-checkbox
          [attr.data-test]="'task-' + task.id + '-isCompleted'"
          formControlName="isCompleted"
          (change)="handleChecked()"
        ></mat-checkbox>
        <p class="text-overflow" (click)="handleViewTask()">
          {{ task.title }}
        </p>
      </div>
      <div class="flex column-gap-1 justify-end" (click)="handleViewTask()">
        <ng-container *ngIf="task.dueDate">
          <p class="text-grey">{{ task.dueDate | date : "shortDate" }}</p>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
