@use "../../../../scss/colors" as colors;

.border-left-red {
  border-left-color: colors.$mat-red-A100;
  border-left-width: 4px;
}

.border-left-blue {
  border-left-color: colors.$mat-blue-A100;
  border-left-width: 4px;
}

.border-left-yellow {
  border-left-color: colors.$mat-yellow-A100;
  border-left-width: 4px;
}

.task {
  min-height: 56px;
  padding: 8px 16px;

  .options {
    visibility: hidden;
  }
}

.task:hover .options {
  visibility: visible;
}

@media (prefers-color-scheme: light) {
  .border-left-red {
    border-left-color: colors.$mat-red-700 !important;
  }

  .border-left-blue {
    border-left-color: colors.$mat-blue-700 !important;
  }

  .border-left-yellow {
    border-left-color: colors.$mat-yellow-700 !important;
  }
}
