<h1 class="p1">Today</h1>

<main class="flex-column row-gap-1 mt-1">
  <mat-expansion-panel *ngIf="tasks$ | async as tasks" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>{{ today | date : "fullDate" }}</span>
        &nbsp;
        <span>({{ tasks.length }})</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <yata-task-list *ngIf="preferences$ | async as preferences">
      <ng-container
        *ngFor="let task of tasks; trackBy: trackByTaskId; let i; as: index"
      >
        <ng-container
          *ngIf="preferences.taskView === TASK_VIEW_INFORMATIVE; else default"
        >
          <yata-task-informative
            [attr.data-test-task-informative]="i"
            [task]="task"
            [isDraggable]="false"
          >
            <yata-task-options [task]="task"></yata-task-options>
          </yata-task-informative>
        </ng-container>
        <ng-template #default>
          <yata-task
            [attr.data-test-task]="i"
            [task]="task"
            [isDraggable]="false"
          >
            <yata-task-options [task]="task"></yata-task-options>
          </yata-task>
        </ng-template>
        <mat-divider></mat-divider>
      </ng-container>
    </yata-task-list>
  </mat-expansion-panel>
</main>

<router-outlet></router-outlet>
