<yata-view-header [title]="'Today'"></yata-view-header>

<main class="flex-column row-gap-1">
  <mat-expansion-panel *ngIf="tasks$ | async as tasks" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>{{ today | date : "fullDate" }}</span>
        &nbsp;
        <span>({{ tasks.length }})</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <yata-task-list *ngIf="preferences$ | async as preferences">
      <ng-container
        *ngFor="let task of tasks; index as i; trackBy: trackByTaskId"
      >
        <yata-task-informative
          *ngIf="preferences.taskView === TASK_VIEW_INFORMATIVE"
          [attr.data-test-task-informative]="i"
          [task]="task"
          [isDraggable]="false"
        >
          <yata-task-options [task]="task"></yata-task-options>
        </yata-task-informative>
        <yata-task
          *ngIf="preferences.taskView === TASK_VIEW_MINIMALIST"
          [attr.data-test-task]="i"
          [task]="task"
          [isDraggable]="false"
        >
          <yata-task-options [task]="task"></yata-task-options>
        </yata-task>
        <mat-divider></mat-divider>
      </ng-container>
    </yata-task-list>
  </mat-expansion-panel>
</main>

<router-outlet></router-outlet>
