@use "../../../../scss/forms/container";
@use "../../../../scss/forms/error";

.card {
  margin: auto;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .card {
    flex-direction: row;
  }
}
