@use "../../../../scss/colors" as colors;

.task {
  display: flex;
  column-gap: 8px;
  padding: 8px 0;
}

.checkbox-container {
  display: flex;
  column-gap: 1em;
  align-items: flex-start;

  .drag-indicator {
    transform: scale(0.75);
    visibility: hidden;

    mat-icon {
      margin-top: 8px;
    }

    &:hover {
      cursor: grab;
    }
  }

  &:hover {
    .drag-indicator {
      visibility: visible;
    }
  }
}

.task-details {
  margin-top: 4px;
}

.task-details,
.task-title {
  padding: 0;
  margin: 0;

  .input {
    font-size: 1.25em;
    margin-top: 2px;
  }
}

.task-description {
  font-size: 12px;
  opacity: 0.87;
  margin-bottom: 8px;
  padding-left: 12px;
}

.task-due-date {
  transform: scale(0.75);
}
