@use "@angular/material" as mat;
@use "./scss/foundation/clickable";
@use "./scss/forms/input";
@use "./scss/colors" as colors;
@include mat.core();

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$cyan-palette),
      accent: mat.define-palette(mat.$blue-grey-palette),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$cyan-palette),
      accent: mat.define-palette(mat.$yellow-palette),
    ),
  )
);

@include mat.all-component-themes($dark-theme);

.light-theme {
  @include mat.all-component-colors($light-theme);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.badge-task-count {
  font-size: 0.9em;
  opacity: 0.75;
}

mat-icon {
  opacity: 0.87;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-large {
  font-size: 24px;
}

.text-ellipsis,
.truncate {
  text-overflow: ellipsis;
}

.text-grey {
  color: lightgray;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.faded-text {
  opacity: 0.54;
}

.horizontal-line {
  height: 1px;
  width: 100%;
  border: thin solid rgba(255, 255, 255, 0.08);
}

.hide {
  display: none !important;
}

.p1 {
  padding: 16px;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1em;
}

.pl-1 {
  padding-left: 1em;
}

.pr-1 {
  padding-right: 1em;
}

.pb-1 {
  padding-bottom: 1em;
}

.pt-1 {
  padding-top: 1em;
}

.px-1 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-1 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1em;
}

.ml-1 {
  margin-left: 1em;
}

.mr-1 {
  margin-right: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mt-1 {
  margin-top: 1em;
}

.mx-1 {
  margin-left: 16px;
  margin-right: 16px;
}

.my-1 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.invisible {
  visibility: hidden;
}

.spacer {
  flex: 1;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.relative {
  position: relative;
}

.transform-scale-75 {
  transform: scale(0.75);
}

.mat-button-full-width {
  width: 100%;
  &.mdc-button {
    justify-content: unset;
  }
}

.dialog-content {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 8px 0;
}

.flex {
  display: flex;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.column-gap-1 {
  column-gap: 1em;
}

.row-gap-1 {
  row-gap: 1em;
}

.icon {
  opacity: 0.54;
}

.li,
ol,
ul {
  list-style: none;
}

.link {
  color: colors.$mat-cyan-A100;
}

.light-theme {
  .link {
    color: colors.$mat-cyan-A700;
  }

  .text-grey {
    color: gray;
  }

  .horizontal-line {
    border-color: rgba(0, 0, 0, 0.08);
  }
}
