@use "@angular/material" as mat;
@use "./scss/foundation/clickable";
@include mat.core();

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$cyan-palette),
      accent: mat.define-palette(mat.$blue-grey-palette),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$cyan-palette),
      accent: mat.define-palette(mat.$yellow-palette),
    ),
  )
);

@include mat.all-component-themes($dark-theme);

@media (prefers-color-scheme: light) {
  @include mat.all-component-colors($light-theme);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

mat-icon {
  opacity: 0.54;
}

button mat-icon:focus,
mat-icon:focus {
  opacity: 0.87 !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-large {
  font-size: 24px;
}

.text-ellipsis,
.truncate {
  text-overflow: ellipsis;
}

.text-grey {
  color: rgba(255, 255, 255, 0.8);
}

.faded-text {
  opacity: 0.54;
}

.input-label {
  margin: 0;
  padding: 0;
}

.input {
  appearance: none;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 8px 12px;
  width: 100%;
  background: inherit;
  color: #000;
  font-family: inherit;
  font-size: inherit;
}

textarea.input {
  resize: vertical;
}

.input:focus,
.input:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.input:focus {
  border-bottom: thin solid;
  border-color: rgba(255, 255, 255, 0.25);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

@media (prefers-color-scheme: dark) {
  .input {
    color: #fff !important;
  }

  .input:focus,
  .input:hover {
    background-color: rgba(255, 255, 255, 0.04) !important;
  }
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.spacer {
  flex: 1;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.relative {
  position: relative;
}

.mat-button-full-width {
  width: 100%;
  &.mdc-button {
    justify-content: unset;
  }
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.icon {
  opacity: 0.54;
}

.error {
  background-color: rgba(255, 0, 0, 0.09);
  padding: 6px 12px;
  border-radius: 4px;

  .error-text {
    font-size: 12px;
    color: rgb(255, 0, 0);
    font-weight: 600;
    padding: 0;
    margin: 0;
  }
}
