// https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors

$mat-red-700: #d32f2f;
$mat-red-A100: #FF8A80;

$mat-blue-700: #1976d2;
$mat-blue-A100: #82B1FF;

$mat-yellow-700: #fbc02d;
$mat-yellow-900: #F57F17;
$mat-yellow-A100: #FFFF8D;

$mat-orange-700: #F57C00;
$mat-orange-A100: #FFD180;

$mat-cyan-700: #0097A7;
$mat-cyan-A100: #84FFFF;
$mat-cyan-A200: #18FFFF;
$mat-cyan-A700: #00B8D4;