<div class="flex full-height">
  <div class="card flex-centered mat-elevation-z8">
    <yata-logo></yata-logo>

    <div class="form-container flex-column row-gap-1 p-1">
      <h1>Sign in</h1>

      <form
        [formGroup]="form"
        (ngSubmit)="$event.preventDefault(); handleSignIn()"
      >
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" id="email" formControlName="email" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="showPassword = !showPassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="showPassword"
          >
            <mat-icon>
              {{ showPassword ? "visibility" : "visibility_off" }}
            </mat-icon>
          </button>
        </mat-form-field>
        <p *ngIf="errorService.error$ | async as error" class="error">
          {{ error }}
        </p>

        <div class="full-width">
          <button
            [disabled]="form.invalid"
            type="submit"
            mat-raised-button
            class="full-width"
            color="primary"
            (click)="$event.preventDefault(); handleSignIn()"
          >
            Sign in
          </button>
        </div>
      </form>

      <div class="mt-1">
        <p>
          <span> Don't have an account? </span>
          <a routerLink="/auth/sign-up" class="link">Sign up</a>
        </p>
      </div>
    </div>
  </div>
</div>
