<ng-container *ngIf="currentTag$ | async as tag">
  <yata-view-header [title]="'# ' + tag.name"></yata-view-header>

  <main
    *ngIf="tasksGroupedByTags$ | async as map"
    class="flex-column row-gap-1"
  >
    <mat-expansion-panel
      [attr.data-test]="'project-' + entry.key.name + '-panel'"
      *ngFor="let entry of map | keyvalue"
      [expanded]="entry.value.length > 0"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>{{ entry.key.name }}</h3>
          &nbsp;
          <span>({{ entry.value.length }})</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-container *ngFor="let task of entry.value; trackBy: trackByTaskId">
        <yata-task-list>
          <yata-task [isDraggable]="false" [task]="task">
            <yata-task-options [task]="task"></yata-task-options>
          </yata-task>

          <mat-divider></mat-divider>
        </yata-task-list>
      </ng-container>
    </mat-expansion-panel>
  </main>
</ng-container>

<router-outlet></router-outlet>
