<div class="p1">
  <header *ngIf="currentTag$ | async as tag">
    <h1>#{{ tag.name }}</h1>
  </header>

  <main
    *ngIf="tasksGroupedByTags$ | async as map"
    class="flex-column row-gap-1 mt-1"
  >
    <mat-expansion-panel
      [attr.data-test]="'project-' + entry.key.name + '-panel'"
      *ngFor="let entry of map | keyvalue"
      [expanded]="true"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>{{ entry.key.name }}</span>
          &nbsp;
          <span>({{ entry.value.length }})</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-container *ngFor="let task of entry.value; trackBy: trackByTaskId">
        <yata-task-list *ngIf="preferences$ | async as preferences">
          <ng-container
            *ngIf="preferences.taskView === TASK_VIEW_INFORMATIVE; else default"
          >
            <yata-task-informative [isDraggable]="false" [task]="task">
              <yata-task-options [task]="task"></yata-task-options>
            </yata-task-informative>
          </ng-container>

          <ng-template #default>
            <yata-task [isDraggable]="false" [task]="task">
              <yata-task-options [task]="task"></yata-task-options>
            </yata-task>
          </ng-template>

          <mat-divider></mat-divider>
        </yata-task-list>
      </ng-container>
    </mat-expansion-panel>
  </main>
</div>

<router-outlet></router-outlet>
