<ng-container *ngIf="currentProject$ | async as project">
  <div class="kanban-wrapper" [class.top-0]="!(breakpoint.isHandset$ | async)">
    <div class="full-height relative">
      <yata-view-header></yata-view-header>
      <main>
        <div class="kanban-view">
          <div class="columns full-height" cdkDropListGroup>
            <!-- Unsectioned Tasks -->
            <ng-container *ngIf="unsectionedTasks$ | async as unsectionedTasks">
              <ng-container *ngIf="unsectionedTasks.length > 0">
                <yata-kanban-column
                  [section]="toSection(unsectionedTasks)"
                ></yata-kanban-column>
              </ng-container>
            </ng-container>

            <!-- Columns -->
            <ng-container *ngIf="columns$ | async as sections">
              <yata-kanban-column
                *ngFor="let section of sections"
                [section]="section"
              ></yata-kanban-column>
            </ng-container>

            <!-- Create column -->
            <div class="column-last-child">
              <ng-container
                *ngIf="
                  showAddKanbanColumnComponent;
                  else hideAddKanbanColumnComponent
                "
              >
                <yata-create-kanban-column
                  (close)="handleAddKanbanColumnComponentClosed()"
                ></yata-create-kanban-column>
              </ng-container>
              <ng-template #hideAddKanbanColumnComponent>
                <button
                  mat-stroked-button
                  (click)="handleAddColumn()"
                >
                  <mat-icon>add</mat-icon>
                  <span>Add column</span>
                </button>
              </ng-template>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</ng-container>
