.top-0 {
  top: 0 !important;
}

.kanban-wrapper {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

main {
  overflow-y: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 78px;
}

.kanban-view {
  overflow-y: hidden;
  overflow-x: auto;
  padding: 0 16px;
  height: 100%;
}

.columns {
  display: flex;
  column-gap: 32px;
  padding-top: 4px;

  .column-last-child {
    min-width: fit-content;
    height: fit-content;
    padding-right: 16px;
  }
}
