.task-details {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
}

.subtasks-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.form-field-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.form-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
  margin-top: 32px;
}
