.left-column,
.right-column {
  padding: 16px;
}

// .task-details {
//   display: flex;
//   flex-direction: column;
//   row-gap: 16px;
//   width: 100%;
//   min-width: 350px;
// }

.form-field-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.due-date-container {
  height: 78px;
  button {
    height: 56px;
  }
}
