<ng-container *ngIf="currentTask$ | async as task" [formGroup]="form">
  <mat-dialog-content>
    <div class="task-details">
      <!-- Completed & Due Date -->
      <div class="form-field-container space-between">
        <div class="flex align-items-center column-gap-1">
          <!-- Completed -->
          <mat-checkbox
            (change)="handleChecked()"
            formControlName="completed"
            color="primary"
          >
          </mat-checkbox>

          <!-- Due date -->
          <ng-container *ngIf="dueDateControl.value; else dueDateIsNull">
            <button
              mat-stroked-button
              (click)="openDateTimePickerDialog()"
              title="Due date"
            >
              {{ dueDateControl.value | date : "MMM d, y, hh:mm a" }}
            </button>
          </ng-container>
          <ng-template #dueDateIsNull>
            <button
              mat-stroked-button
              (click)="openDateTimePickerDialog()"
              title="Set a due date"
            >
              <mat-icon>event</mat-icon>
              <span>Date & Repeat</span>
            </button>
          </ng-template>
        </div>

        <!-- Priority -->
        <div class="task-details-header-actions">
          <yata-task-priority-picker
            (selectionChange)="handlePriorityChange($event)"
            [value]="task.priority"
          ></yata-task-priority-picker>
        </div>
      </div>

      <!-- Title -->
      <div class="form-field-container">
        <mat-form-field class="full-width">
          <mat-label>Title</mat-label>
          <input matInput type="text" formControlName="title" />
        </mat-form-field>
      </div>

      <!-- Content -->
      <div class="form-field-container">
        <mat-form-field class="full-width">
          <mat-label>Content</mat-label>
          <textarea
            matInput
            formControlName="content"
            cdkTextareaAutosize
          ></textarea>
        </mat-form-field>
      </div>

      <!-- Subtasks -->
      <div class="subtasks-container" formArrayName="subtasks">
        <ng-container *ngIf="task.subtasks && task.subtasks.length > 0">
          <div class="subtasks-container">
            <p>Subtasks</p>
            <yata-subtask-list [subtasks]="task.subtasks"></yata-subtask-list>
          </div>
        </ng-container>

        <ng-container *ngIf="isAddingSubtask">
          <yata-create-subtask
            [task]="task"
            (saved)="isAddingSubtask = false"
            (cancel)="isAddingSubtask = false"
          ></yata-create-subtask>
        </ng-container>

        <ng-container *ngIf="!isAddingSubtask">
          <button mat-stroked-button (click)="isAddingSubtask = true">
            <mat-icon>checklist</mat-icon>
            <span>Add Subtask</span>
          </button>
        </ng-container>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close>Close</button>
    <button
      [disabled]="form.invalid"
      mat-raised-button
      color="primary"
      (click)="handleSave()"
    >
      Save
    </button>
  </mat-dialog-actions>
</ng-container>
