<ng-container *ngIf="currentTask$ | async as task" [formGroup]="form">
  <mat-dialog-content>
    <header class="flex flex-row space-between">
      <mat-checkbox
        data-test="isCompletedCheckbox"
        (change)="handleChecked()"
        formControlName="isCompleted"
        color="primary"
      >
        {{
          isCompletedControl.value ? "Mark as incomplete" : "Mark as complete"
        }}
      </mat-checkbox>
      <div class="flex">
        <button
          data-test="getPreviousTaskButton"
          mat-icon-button
          title="Previous task"
        >
          <mat-icon>expand_less</mat-icon>
        </button>
        <button
          data-test="getNextTaskButton"
          mat-icon-button
          title="Next task"
          (click)="handleGetNextTask()"
        >
          <mat-icon>expand_more</mat-icon>
        </button>
        <!-- <button mat-icon-button title="Task options"> -->
        <!--   <mat-icon>more_horiz</mat-icon> -->
        <!-- </button> -->
        <button
          data-test="closeDialogButton"
          mat-icon-button
          mat-dialog-close
          title="Close dialog"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </header>

    <mat-divider></mat-divider>

    <!-- Main content -->
    <div class="flex column-gap-1">
      <div class="flex-column row-gap-1 p-1 full-width">
        <h5 aria-labelledby="title">Task</h5>
        <div class="flex-column align-items-center full-width">
          <mat-form-field class="full-width" appearance="outline">
            <input
              data-test="titleInput"
              id="title"
              matInput
              data-test="titleInput"
              type="text"
              formControlName="title"
            />
          </mat-form-field>
        </div>

        <h5 aria-labelledby="description">Description</h5>
        <div class="flex-column align-items-center full-width">
          <mat-form-field class="full-width" appearance="outline">
            <textarea
              matInput
              data-test="descriptionInput"
              id="description"
              formControlName="description"
              cdkTextareaAutosize
              (blur)="handleDescriptionChange()"
            ></textarea>
          </mat-form-field>
        </div>

        <!-- Subtasks -->
        <div class="flex-column row-gap-1">
          <ng-container *ngIf="task.subtasks && task.subtasks.length">
            <h5>Subtasks</h5>
            <yata-task-list>
              <yata-task
                *ngFor="let subtask of task.subtasks"
                [attr.data-test]="'subtask-' + subtask.id"
                [task]="subtask"
                [isDraggable]="false"
              >
                <yata-task-options
                  [attr.data-test]="'subtask-' + subtask.id + '-options'"
                  [task]="subtask"
                ></yata-task-options>
              </yata-task>
            </yata-task-list>
          </ng-container>

          <ng-container *ngIf="isAddingSubtask; else notAddingSubtask">
            <yata-create-task
              data-test="createTaskComponent"
              [parent]="task"
              (canceled)="isAddingSubtask = false"
              (created)="isAddingSubtask = false"
            ></yata-create-task>
          </ng-container>
          <ng-template #notAddingSubtask>
            <button
              data-test="addSubtaskButton"
              mat-stroked-button
              (click)="isAddingSubtask = true"
            >
              <mat-icon>checklist</mat-icon>
              <span>Add Subtask</span>
            </button>
          </ng-template>
        </div>
      </div>

      <mat-divider [vertical]="true"></mat-divider>

      <div class="p-1">
        <div class="flex flex-column row-gap-1">
          <h5 aria-labelledby="projectId">Project</h5>
          <mat-form-field appearance="outline">
            <mat-select
              *ngIf="projects$ | async as projects"
              data-test="projectsSelect"
              id="projectId"
              data-test="projectIdSelect"
              formControlName="projectId"
            >
              <mat-option
                *ngFor="let project of projects; trackBy: trackByProjectId"
                [attr.data-test]="'project-' + project.id"
                [value]="project.id"
              >
                {{ project.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <h5>Due date</h5>
          <div class="due-date-container">
            <ng-container *ngIf="dueDateControl.value; else dueDateIsNull">
              <div class="flex align-items-center">
                <button
                  data-test="setDueDateButton"
                  mat-stroked-button
                  (click)="openDateTimePickerDialog()"
                  title="Due date"
                  class="full-width"
                >
                  <ng-container
                    *ngIf="isAllDayControl.value; else renderTimePortion"
                  >
                    {{ dueDateControl.value | date : "mediumDate" }}
                  </ng-container>
                  <ng-template #renderTimePortion>
                    {{ dueDateControl.value | date : "MMM d, y, hh:mm a" }}
                  </ng-template>
                </button>
                <button
                  data-test="removeDueDateButton"
                  mat-icon-button
                  title="Remove due date"
                  (click)="handleRemoveDueDate()"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </ng-container>
            <ng-template #dueDateIsNull>
              <button
                data-test="setDueDateButton"
                class="full-width"
                mat-stroked-button
                (click)="openDateTimePickerDialog()"
                title="Set a due date"
              >
                <mat-icon>event</mat-icon>
                <span>Due date</span>
              </button>
            </ng-template>
          </div>

          <h5>Priority</h5>
          <div class="flex align-items-center">
            <yata-task-priority-picker
              (selectionChange)="handlePriorityChange($event)"
              [value]="priorityControl.value"
            ></yata-task-priority-picker>
            {{ priorityControl.value | taskPriority }}
          </div>

          <mat-divider></mat-divider>

          <div class="flex space-between align-items-center">
            <h5>Tags</h5>
            <button
              data-test="addTagButton"
              mat-icon-button
              title="Add tag"
              (click)="openTagsSelectListDialog(task)"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <mat-chip-listbox>
            <mat-chip-option *ngFor="let tag of task.tags" color="primary">
              {{ tag.name }}
              <button
                [attr.data-test]="'tag-' + tag.id"
                matChipRemove
                [ariaLabel]="'Remove ' + tag.name"
                (click)="handleRemoveTag(task, tag)"
              >
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-option>
          </mat-chip-listbox>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</ng-container>
