@use "@angular/material" as mat;

.content {
  padding-top: 6px;
}

.mdc-list-item {
  border-radius: 6px;
}

.active {
  background-color: rgba(
    mat.get-color-from-palette(mat.$cyan-palette, 800),
    0.1
  );
}

.active span,
.active mat-icon {
  color: mat.get-color-from-palette(mat.$cyan-palette, A400);
}

@media (prefers-color-scheme: light) {
  .active span,
  .active mat-icon {
    color: mat.get-color-from-palette(mat.$cyan-palette, 900);
  }
}
